<footer style="background-color: #eaeff2">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <img width="200" src="assets\images\logo.png" alt="" />
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-2">
        <strong>Frequently Searched</strong>
        <ul class="mt-3">
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
        </ul>
      </div>
      <div class="col-2 offset-xl-1">
        <strong>Popular Cuisines</strong>
        <ul class="mt-3">
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
        </ul>
      </div>
      <div class="col-2 offset-xl-1">
        <strong>About MFoodz</strong>
        <ul class="mt-3">
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
        </ul>
      </div>
      <div class="col-2 offset-xl-1">
        <strong>Support</strong>
        <ul class="mt-3">
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
          <li><span>Nandos Menu</span></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<section style="background-color: #363a45; color: #fff">
  <div class="container py-5">
    <div class="row d-flex justify-content-between">
      <div class="col-3">
        <h5 style="color: #fff">Countries with MFoodz</h5>
        <div>
          <a>Pakistan</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Canada</a>
        </div>
      </div>
      <div class="col-2">
        <nz-space nzSize="middle">
          <i *nzSpaceItem class="bi bi-facebook"></i>
          <i *nzSpaceItem class="bi bi-instagram"></i>
          <i *nzSpaceItem class="bi bi-twitter"></i>
        </nz-space>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-3">
        <h5 style="color: var(--light-gray)">
          <i class="bi bi-c-circle"></i> MFoodz 2024
        </h5>
        <a> Terms of Services <i class="bi bi-dot"></i> Privacy Policy</a>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</section>
