<section>
  <div class="checkout-main">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="checkout-left py-4">
            <header class="d-flex align-items-center">
              @for (item of restaurantData; track $index) {
              <nz-avatar [nzSize]="100" [nzSrc]="item?.ShopImage"></nz-avatar>
              <h2 class="ms-3">{{ item?.StoreName }}</h2>
              }
            </header>
            <div class="card w-100 mt-3">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h3>{{ switchToSegmented }} details</h3>
                  <nz-segmented
                    [nzOptions]="options"
                    (nzValueChange)="handleIndexChange($event)"
                  ></nz-segmented>
                </div>

                <div class="mt-3">
                  <ng-container *ngIf="currentLocation">
                    <app-google-map
                      [userLocation]="currentLocation"
                    ></app-google-map>
                  </ng-container>
                </div>
                @if (switchToSegmented === 'Delivery') {
                <div class="mt-3">
                  <ul>
                    <li
                      class="d-flex align-items-center justify-content-between delivery-detail-list"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="bi bi-geo-alt-fill me-3"
                          style="font-size: 24px"
                        ></i>
                        <div>
                          <p>
                            <b>{{ currentLocation?.area }}</b>
                          </p>
                          <span style="max-width: 300px">{{
                            currentLocation?.address
                          }}</span>
                        </div>
                      </div>
                      <button
                        class="btn btn-primary"
                        style="width: max-content; border-radius: 2rem"
                        (click)="addressModalOpen()"
                      >
                        Edit
                      </button>
                    </li>
                    <li
                      class="d-flex align-items-center justify-content-between delivery-detail-list"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="bi bi-person-fill me-3"
                          style="font-size: 24px"
                        ></i>
                        <div>
                          <p><b>Meet at my door</b></p>
                          <span style="color: var(--orange)"
                            >Add delivery instructions</span
                          >
                        </div>
                      </div>
                      <button
                        class="btn btn-primary"
                        style="width: max-content; border-radius: 2rem"
                      >
                        Edit
                      </button>
                    </li>
                  </ul>
                </div>
                }
              </div>
              <hr />

              @if (switchToSegmented !== 'Dine-in') {
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h3>{{ switchToSegmented }} estimate</h3>
                </div>
                <div class="mt-3">
                  <ul>
                    <!-- <li class="delivery-estimate-list-active my-2">
                      <div class="d-flex align-items-center">
                        <i
                          class="bi bi-lightning-charge-fill me-3"
                          style="font-size: 24px"
                        ></i>
                        <div>
                          <p>
                            <b>Prority</b>
                            <button
                              class="btn btn-primary ms-2"
                              style="
                                width: max-content;
                                border-radius: 2rem;
                                padding: 1px 10px;
                              "
                            >
                              Faster
                            </button>
                          </p>
                          <span>10 - 20 min. Delivered directly to you</span>
                        </div>
                      </div>
                    </li> -->
                    <li class="delivery-estimate-list-active my-2">
                      <div class="d-flex align-items-center">
                        <i
                          class="bi bi-patch-check-fill me-3"
                          style="font-size: 24px"
                        ></i>
                        <div>
                          <p><b>Standard</b></p>
                          <span>15 - 30 min</span>
                        </div>
                      </div>
                    </li>
                    <!-- <li class="delivery-estimate-list my-2">
                      <div class="d-flex align-items-center">
                        <i
                          class="bi bi-postcard-fill me-3"
                          style="font-size: 24px"
                        ></i>
                        <div>
                          <p><b>Schedule</b></p>
                          <span>Select a time</span>
                        </div>
                      </div>
                    </li> -->
                  </ul>
                </div>
              </div>
              <hr />
              }
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h3>Payment</h3>
                </div>
                <div class="mt-3">
                  <ul>
                    <li
                      class="d-flex align-items-center justify-content-between delivery-detail-list"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="bi bi-credit-card-2-back-fill me-3"
                          style="font-size: 24px"
                        ></i>
                        <div>
                          <p><b>Add payment method</b></p>
                        </div>
                      </div>
                      <button
                        class="btn btn-primary"
                        style="width: max-content; border-radius: 2rem"
                        (click)="paymentModalOpen()"
                      >
                        Add
                      </button>
                    </li>
                    <li
                      class="d-flex align-items-center justify-content-between delivery-detail-list"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="bi bi-tag-fill me-3"
                          style="font-size: 24px"
                        ></i>
                        <div>
                          <p><b>Add promo code</b></p>
                        </div>
                      </div>
                      <button
                        class="btn btn-primary"
                        style="width: max-content; border-radius: 2rem"
                        (click)="promoModalOpen()"
                      >
                        Add
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <hr />
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h3>Order summary</h3>
                  <button
                    class="btn btn-primary"
                    style="width: max-content; border-radius: 2rem"
                    (click)="routeToMenuPage()"
                  >
                    <i class="bi bi-plus"></i>
                    Add Items
                  </button>
                </div>
                <div class="mt-3">
                  <ul>
                    <li
                      class="d-flex align-items-center justify-content-between"
                    >
                      <p>
                        <b>{{ cartData.length }} item</b>
                      </p>
                      <i
                        class="bi bi-chevron-down"
                        (click)="showOrdersSummary()"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample"
                      ></i>
                    </li>
                    @if (isVisibleOrderSummary) {
                    <li class="d-flex align-items-center pt-3">
                      @for (item of cartData | slice: 0: 2; track $index) {
                      <nz-avatar
                        class="me-2"
                        [nzShape]="'square'"
                        [nzSize]="60"
                        [nzSrc]="item?.ImageHeader"
                      ></nz-avatar>
                      } @if(cartData.length > 2){
                      <button
                        class="btn btn-primary"
                        style="width: max-content; border-radius: 2rem"
                        (click)="showOrdersSummary()"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample"
                      >
                        See all
                      </button>
                      }
                    </li>
                    }
                    <li>
                      <div class="collapse mt-3" id="collapseExample">
                        <ul>
                          @for (item of cartData ; track $index) {
                          <li
                            class="d-flex align-items-start justify-content-between delivery-detail-list"
                          >
                            <div class="d-flex align-items-start">
                              <span
                                class="order-summary-quantity me-3"
                                style="
                                  background: var(--orange);
                                  color: #fff;
                                  padding: 2px 10px;
                                "
                                >{{ item?.Quantity }}</span
                              >
                              <div>
                                <p>
                                  <b>{{ item?.Name }}</b>
                                </p>
                                @if (item?.SubMenuId !== null ) { @for (list of
                                item?.SubMenu; track $index) {
                                <p
                                  style="
                                    font-size: 14px;
                                    display: flex;
                                    align-items: center;
                                    gap: 4px;
                                    max-width: max-content;
                                  "
                                >
                                  {{ list?.Name }} : @for (item of
                                  list?.SubMenuHedaer ; track $index) {
                                  <span>{{ item?.Name }}</span>
                                  }
                                </p>
                                } }
                              </div>
                            </div>
                            <span>{{ currency }} {{ item?.Amount }}</span>
                          </li>
                          }
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 py-4">
          <div class="checkout-right">
            <button class="btn btn-primary">Continue to payment</button>
            <div class="card my-3">
              <div class="card-body">
                <h3>Order total</h3>
                <div
                  class="d-flex mt-3"
                  style="
                    background-color: #fff2d9;
                    border-radius: 10px;
                    overflow: hidden;
                  "
                >
                  <div class="pt-2 px-3">
                    <p>
                      <b style="font-weight: 600"
                        >Save $ 4.35 on this order with MFoodz</b
                      >
                    </p>
                    <p
                      style="font-size: 12px"
                      class="d-flex align-items-center"
                    >
                      Try free for 1 month<i class="bi bi-arrow-right ms-2"></i>
                    </p>
                  </div>
                  <div>
                    <nz-avatar
                      [nzShape]="'square'"
                      [nzSize]="80"
                      nzSrc="assets\images\activeOrder.webp"
                    ></nz-avatar>
                  </div>
                </div>
                <ul class="pt-3">
                  <li
                    class="d-flex align-items-center justify-content-between pt-2"
                  >
                    <span>Subtotal</span>
                    <p>{{ currency }} {{ subTotal }}</p>
                  </li>
                  @if(discountAmount !== 0){
                    <li
                    class="d-flex align-items-center justify-content-between pt-2"
                  >
                    <span>Discount</span>
                    <p>{{ currency }} -{{ discountAmount }}</p>
                  </li>
                  }
                 
                  @if (switchToSegmented === 'Delivery') {
                  <li
                    class="d-flex align-items-center justify-content-between pt-2"
                  >
                    <span
                      >Delivery Fee <i class="bi bi-exclamation-circle-fill"></i
                    ></span>
                    <p>{{ currency }} {{ deliveryFee }}</p>
                  </li>
                  }
                  <li
                    class="d-flex align-items-center justify-content-between pt-2"
                  >
                    <p>
                      Taxes & Other Fees
                      <i class="bi bi-exclamation-circle-fill"></i>
                    </p>
                    <p>{{ currency }} {{ gstRate }}</p>
                  </li>
                </ul>
                <hr />
                @if(currency !== 'Rs'){
                <div>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <p>
                      Add a tip <i class="bi bi-exclamation-circle-fill"></i>
                    </p>
                    <p>{{ currency }} 0.00</p>
                  </div>
                  <span style="font-size: 12px"
                    >They make delivery possible - no matter what time is</span
                  >

                  <nz-segmented
                    [nzOptions]="tip"
                    (nzValueChange)="handleIndexChange($event)"
                  ></nz-segmented>
                </div>
                <hr />
                }
                <div class="d-flex align-items-center justify-content-between">
                  <p style="font-size: 20px"><b>Total</b></p>
                  <p style="font-size: 20px">
                    <b>{{ currency }} {{ totalAmount }}</b>
                  </p>
                </div>
                <p
                  style="font-size: 12px; color: var(--light-gray); margin: 0"
                  class="pt-3"
                >
                  If you’re not around when the delivery person arrives, they’ll
                  leave your order at the door. By placing your order, you agree
                  to take full responsibility for it once it’s delivered. Orders
                  containing alcohol or other restricted items may not be
                  eligible for leave at door and will be returned to the store
                  if you are not available.`
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ========== Payment Modal ========== -->
@if (isVisiblePaymentModal) {
<app-payment-modal
  [isVisible]="isVisiblePaymentModal"
  (close)="paymentModalClose()"
></app-payment-modal>
}
<!-- ========== Address Modal ========== -->
@if (isVisibleAddressModal) {
<app-address-modal
  [isVisible]="isVisibleAddressModal"
  [currentLocation]="currentLocation"
  (close)="addressModalClose()"
  (changedLocation)="changedLocation($event)"
></app-address-modal
>}
<!-- ========== Address Modal ========== -->
@if (isVisiblePromoModal) {
<app-promo-modal
  [isVisible]="isVisiblePromoModal"
  (close)="promoModalClose()"
></app-promo-modal
>}
