<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Promotions"
  (nzOnCancel)="PromoModalClose()"
>
  <div *nzModalContent>
    <form class="d-flex mb-3" [formGroup]="promoForm" (ngSubmit)="onSubmit()">
      <input
        class="form-control"
        placeholder="Enter promo code"
        formControlName="promo"
      />

      <button
        class="btn ms-2"
        style="width: max-content; font-size: 14px"
        [ngClass]="
          promoForm.controls['promo'].invalid ? 'btn-secondary' : 'btn-primary '
        "
      >
        Apply
      </button>
    </form>
    @if (promoCodeResponse?.Code == 00) {
    <div class="alert alert-success" role="alert">
      {{ promoCodeResponse?.Message }}
    </div>
    }@else if(promoCodeResponse?.Code == 11) {
    <div class="alert alert-danger" role="alert">
      {{ promoCodeResponse?.Message }}
    </div>
    }
  </div>
  <div *nzModalFooter>
    <button class="btn btn-primary" (nzOnCancel)="PromoModalClose()">
      Done
    </button>
  </div>
</nz-modal>
