<main class="section_top_padding">
  <header>
    <section>
      <div class="header_top_main">
        <div class="container g-0">
          <div class="row g-0 p-3">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of headerList">
                <ng-template carouselSlide [id]="slide.id">
                  <!-- <img
                    [src]="slide?.BannerImage"
                    alt=""
                    style="height: 150px"
                  /> -->
                  <div class="header_list_top">
                    <nz-avatar [nzSrc]="slide?.ImageUrl"></nz-avatar>
                    <p>{{ slide?.BannerName | titlecase }}</p>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="header_second_main">
        <div class="container">
          <div class="row p-3">
            <owl-carousel-o [options]="customOptionsHeader">
              <ng-container *ngFor="let slide of bannerList">
                <ng-template carouselSlide [id]="slide.id">
                  <div
                    class="header_list_second"
                    nz-tooltip
                    [nzTooltipTitle]="slide?.CategoryName"
                    nzTooltipPlacement="bottom"
                  >
                    <nz-avatar [nzSrc]="slide?.ImageUrl"></nz-avatar>
                    <p>
                      {{ slide?.CategoryName | titlecase }}
                    </p>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </section>
    <hr />
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
